* {
    margin: 0;
    padding: 0;
    border: none;
    /* overflow: hidden; */
    cursor: default;
}


@font-face { 
    font-family: 'ocra'; 
    src: url(Typeface/OCRA.otf);
} 

@font-face { 
    font-family: 'ocrb'; 
    src: url(Typeface/OCR-B.otf);
} 

.landingpage, .contact {
    width: 100vw;
    height: 100vh;
    display: none;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 2.2em;
    text-align: left;
    font-family: 'ocra';
    line-height: 1.45em;
}


.hover-text {
    color: initial; /* Initial color */
    transition: color 0.4s ease; /* Smooth transition */
}

.hover-text:hover {
    color: red; /* Color on hover */
}

body {
    height: 100vh;
    font-family: 'ocra';
}

.text-container {
    padding: 1%;
    text-align: left;
}

h1 {
    font-size: 2.2em;

}

h2 {
    font-size: 1.4em;

}

p {
    font-size: 1em;

}


.image-container-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100vw;
    height:auto;
}

.image-container img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.image-container video {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.image-container::-webkit-scrollbar {
    display: none;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0; /* Initial opacity set to 0 */
    transition: opacity 0.7s ease; /* Smooth transition for opacity */
}

/* Left arrow */
.left-arrow {
    left: 0.25%;
    border-width: 18vw 9vw 18vw 0; /* Adjust these values to change the size of the arrow */
    border-color: transparent red transparent transparent;
    border-style: solid;
    
}

/* Right arrow */
.right-arrow {
    right: 0.25%;
    border-width: 18vw 0 18vw 9vw; /* Adjust these values to change the size of the arrow */
    border-color: transparent transparent transparent red;
    border-style: solid;
}



/* Buttons */


.button-container {
    position: relative; /* Position the container relative to the body */
    width: 100%; /* Take up the full width of the page */
    text-align: left;
    
}

/* Style for the large square button */
.large-button {
    width: 100%; /* Set a percentage width for the buttons */
    color: rgb(0, 0, 0); /* Text color */
    border-top: 0.036em solid rgb(0, 0, 0); /* Black border line at the top */
    border-bottom: 0.036em solid rgb(0, 0, 0); /* Black border line at the top */
    font-size: 3em;
    padding-top: 0.7%;
    padding-left: 0.6%;
}

.large-button2 {
    width: 100%; /* Set a percentage width for the buttons */
    color: rgb(0, 0, 0); /* Text color */
    border-bottom: 0.036em solid rgb(0, 0, 0); /* Black border line at the top */
    font-size: 3em;
    padding-top: 0.7%;
    padding-left: 0.6%;
}

.large-button3 {
    width: 100%; /* Set a percentage width for the buttons */
    color: rgb(0, 0, 0); /* Text color */
    border-bottom: 0.036em solid rgb(0, 0, 0); /* Black border line at the top */
    font-size: 3em;
    padding-top: 0.7%;
    padding-left: 0.6%;
}

.large-button4 {
    width: 100%; /* Set a percentage width for the buttons */
    color: rgb(0, 0, 0); /* Text color */
    border-bottom: 0.036em solid rgb(0, 0, 0); /* Black border line at the top */
    font-size: 3em;
    padding-top: 0.7%;
    padding-left: 0.6%;
}

.large-button5 {
    width: 100%; /* Set a percentage width for the buttons */
    color: rgb(0, 0, 0); /* Text color */
    border-bottom: 0.036em solid rgb(0, 0, 0); /* Black border line at the top */
    font-size: 3em;
    padding-top: 0.7%;
    padding-left: 0.6%;
}

.large-button6 {
    width: 100%; /* Set a percentage width for the buttons */
    color: rgb(0, 0, 0); /* Text color */
    border-bottom: 0.036em solid rgb(0, 0, 0); /* Black border line at the top */
    font-size: 3em;
    padding-top: 0.7%;
    padding-left: 0.6%;
}

.large-button7 {
    width: 100%; /* Set a percentage width for the buttons */
    color: rgb(0, 0, 0); /* Text color */
    border-bottom: 0.036em solid rgb(0, 0, 0); /* Black border line at the top */
    font-size: 3em;
    padding-top: 0.7%;
    padding-left: 0.6%;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}




/* iFrame Kilians iPhone */



.iframe-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 63%;
    z-index: 9999;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}



/* Hyperlinks: */

.hyperlink {
    color: initial; /* Initial color */
    transition: color 0.4s ease; /* Smooth transition */
}

.hyperlink:hover {
    color: red; /* Color on hover */
}






/* Footer Landing Page */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:1.11%;
    box-sizing: border-box;
    align-items: flex-end;
}

.left-footer {
    font-size: 1.1em;
    color: #000;
}

.right-footer {
    font-size: 1.1em;
    color: #000;
    line-height: 1.2; 
}



/* Highlighted Text Red */

::selection {
    background: red;
    color: white; /* Optional: change the text color when selected */
}

/* For Firefox */
::-moz-selection {
    background: red;
    color: white; /* Optional: change the text color when selected */
}